<html>

<head>
    <title>Toggles</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/socket.io-client/socket.io.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="main.js"></script>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="style.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="toggles" ng-controller="switchController as controller">
    <div class="container">
        <div ng-repeat="switch in switches">
        <h3>{{switch.name}}</h3>

        <div class="row" ng-if="switch.type === 'transient'">
            <div class="col-xs-2">
                <div class="state-label label {{switch.state ? 'label-success' : 'label-danger'}}">
                    {{switch.state ? 'Ein' : 'Aus'}}
                </div>
            </div>
            <div class="col-xs-9 progress-col" ng-hide="switch.state === switch.groundState">
                <div class="progress">
                    <div class="progress-bar" role="progressbar"
                            style="width: {{switch.millisecondsRemaining / switch.parsedTimeout * 100}}%">
                        {{switch.remaining()}}
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-group">
            <button class="btn btn-primary" ng-click="controller.toggle(switch.id, true)">Ein</button>
            <button class="btn btn-primary" ng-click="controller.toggle(switch.id, false)">Aus</button>
        </div>
        </p>
    </div>
</body>

</html>
